<h1>Create an account</h1>

<%= render 'shared/errors', obj: @user %>

<%= render 'form', user: @user %>

<div class="sign-up-message">
  <p>Already have an account? <%= link_to 'Log in here!', login_path, class: 'sign-up-link' %></p>
</div>