<h1>This is the home page</h1>

<div style="margin-left: 30px;">
<form action="" method="get" id="codeForm" class="form-example">

<div class="input-field col s12 m6" style="margin-bottom: 30px;">
<input type="number" id="userCode" style="max-width: 100px; margin: 0 auto;">
<label for="userGuess">Choose a code:</label>
</div>


<div class="input-field col s12 m6">
<select name="pets" id="levelSelect">
    <option value="">--Please choose an option--</option>
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
</select>
<label>Choose a level</label>
</div>

<input type="submit" value="Guess!">
</form>
</div>
