<div class="container">
    <h1>This is the home page</h1>

    <div class="row">
        <form action="" method="get" id="codeForm" class="col s12">
            <div class="row">
            <p>Choose a unique four digit code:</p>
                <div class="input-field col s6" style="margin-bottom: 30px;">
                    <input type="text" id="userCode" class="validate" required>
                    <label for="userCode">Enter code</label>
                    <span class="error code-error hidden"></span>
                </div>
            </div>
            <div class="row">
            <p>Choose a level:</p>
                <div class="col s12">
                    <label>
                    <input name="level-group" type="radio" value="easy" checked />
                    <span>Easy</span>
                    </label>
                    <label>
                    <input name="level-group" type="radio" value="medium" />
                    <span>Medium</span>
                    </label>
                    <label>
                    <input name="level-group" type="radio" value="hard" />
                    <span>Hard</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                <input type="submit" value="Guess!">
                </div>
            </div>
        </form>
    </div>

    <form action="" method="get" id="guessForm" class="form-guess hidden">

        <div class="input-field col s12 m6" style="margin-bottom: 30px;">
            <input type="text" id="userGuess" class="validate" required>
            <label for="userGuess">Guess the code:</label>
            <span class="error guess-error hidden"></span>
        </div>

        <input type="submit" value="Guess!">
    </form>

    <div class="row">
        <div class="col s12 m6">
            <span class="show-user-code"></span>
        </div>
    </div>

    <div class="row">
    <div class="results">
        <div class="col s12 m6">
            <h4 class="players__table--name"></h4>
            <table class="players__table striped centered hidden">
                <thead class="players__table--head">
                    <tr class="table-row">
                        <th>Round</th>
                        <th>Guess</th>
                        <th>Bulls</th>
                        <th>Cows</th>
                    </tr>
                </thead>
                <tbody class="players__table--body">

                </tbody>
            </table>
        </div>
        <div class="col s12 m6">
            <h4 class="comp__table--name"></h4>
            <table class="comp__table striped centered hidden">
                <thead class="comp__table--head">
                    <tr class="table-row">
                        <th>Round</th>
                        <th>Guess</th>
                        <th>Bulls</th>
                        <th>Cows</th>
                    </tr>
                </thead>
                <tbody class="comp__table--body">

                </tbody>
            </table>
        </div>
        </div>
    </div>

    <div class="result-container">

    </div>

    <div class="reset-container">
    <button class="play-again hidden" disabled>Play Again</button>
    </div>

</div>
