<div class="instructions">
  <h2>How to play</h2>
  <ul>
    <li>The aim of Bulls and Cows is to get four bulls:
    <ul>
      <li>Choose which level to play (easy, medium or hard)</li>
      <li>Enter in a four digit secret code - all four digits must be unique.</li>
      <li>Now try to guess the computers random four digit code!</li>
      <li>If you guess a number that is in the code and in the correct position, you will get one bull.</li>
      <li>If you guess a number that is in the code but it is not in the correct position, you will get one cow.</li>
      <li>Each round, the computer will also try and guess your secret code. If you get to four bulls first, you win the game.</li>
      <li>If at the end of 7 rounds, neither you nor the computer has four bulls, the game will end in a tie.</li>
    </ul>
    </li>
  </ul>
</div>


