@import 'variables';

.players-table--body, .comp-table--body {

  tr {
    height: 40px;
  }

  td {
    vertical-align: middle;
    width: 25%;
    text-align: center;
  }
}

.results {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 50em) {
  .results {
    flex-direction: column;
  }
}

.results--players, .results--comp {
  flex: 0 0 49%;
}

.show-user-code {
  font-style: italic;
}

.form-container {
  margin-bottom: 25px;
}

.user-code--container {
  margin-bottom: $site-padding / 2;
}

.result-container {
  margin-bottom: $site-padding / 2;
}

.save-form {
  margin-bottom: $site-padding;
}