@import 'variables';

.header {
  padding: 0 $site-padding;
  border-bottom: solid 2px $secondary-color;

  .logo {
    display: flex;

    .logo-image {
      display: flex;
    }

    .logo-item--line {
      background-color: $primary-color;
      width: 4px;
      height: 48px;
      margin: 0 8px;
    }
  
    .svg-icon {
      height: 48px;
      width: 48px;
    }
  
    .logo-item {
      color: transparent;
      margin: 0 8px;
      &:hover {
        background-color: transparent;
      }
    }

    .logo-link {
      display: flex;
      flex-direction: column;
      color: $primary-color;
    
      &:hover {
        color: $primary-color;
        background: none;
      }
    
      .logo__inner {
        display: flex;
        align-items: center;
        font-size: 2em;
        padding: 8px;
      }
    
      .logo-item--name {
        font-size: 1.2em;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 30em) and (max-width: 50em) {
  .terminal-nav {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .terminal-menu ul {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
} 