@import 'variables';

// Home page
.home-page__icons {
  margin-bottom: $site-padding ;

  .svg-icon {
    height: 72px;
    width: 72px;
  }
}

.home-page__buttons {
  padding-bottom: $site-padding;
}

.button-break {
  margin-top: $site-padding ;
}

// Instructions page
.instructions {
  margin-top: $site-padding;
}

.instructions-link {
  display: block;
  margin-top: $site-padding / 2;
}
<<<<<<< HEAD

.home-page__buttons {
  padding-bottom: $site-padding;
}
=======
>>>>>>> 69fdf07d22d7668f642ae27f7949b8255d92abdb
