@import 'variables';

.user-results-table {

  thead {
    th {
      vertical-align: middle;
    }
  }
 
  tr {
    height: 40px;
  }

  td {
    vertical-align: middle;
    width: 16.66%;
    text-align: center;
  }
}

.user-results-list-table {
  thead {
    th {
      vertical-align: middle;
    }
  }
  td {
  vertical-align: middle;
  text-align: center;
  }
}

.user-controls {
  display: flex;

  .user-controls--details {
    flex: 0 1 50%;
  }

  .user-controls--buttons {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .btn--narrow {
      width: 50%;
      margin-bottom: $site-padding / 2;
    }
  }
}

.new-game-container {
  margin: ($site-padding / 2) 0 $site-padding 0;
  text-align: center;
}