@import 'variables';

.page-width {
  max-width: $site-width;
  padding: 0 $site-padding;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.error {
  color: $error-color;
  font-weight: bold;
}

input[type="text"].invalid {
  border-color: $error-color;
}

.svg-icon {
  height: 22px;
  width: 22px;
}

.btn-margin {
  margin-top: $site-padding / 2;
}

.sign-up-message {
  margin-top: $site-padding;
}

.flash-messages {
  margin: $site-padding  0 $site-padding  0;

  .alert {
    color: $error-color;
    font-weight: bold;
  }
  .notice {
    color: $success-color;
    font-weight: bold;
  }
}

.delete-link {
  color: $error-color;
  font-weight: bold;
}

.pagination {
  text-align: center;
  margin: $site-padding  0;
}

.no-hover {
  &:hover {
    background-color: transparent;
    color: inherit;
  }
}

.terminal {
  .h1 {
    font-size: 36px;
    display: block;
  }
}

input[type="submit"] {
  white-space: normal !important;
}