.hidden {
  display: none !important;
}

.error {
  color: #F44336;
  font-weight: bold;
}

input[type="text"].invalid {
  border-color: #F44336;
}

.svg-icon {
  height: 22px;
  width: 22px;
}

.page-width {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.btn-margin {
  margin-top: 15px;
}

.sign-up-message {
  margin-top: 30px;
}

.flash-messages {
  margin: 30px 0 30px 0;

  .alert {
    color: #F44336;
    font-weight: bold;
  }
  .notice {
    color: green;
    font-weight: bold;
  }
}

.delete-link {
  color: #F44336;
  font-weight: bold;
}

.pagination {
  text-align: center;
  margin: 30px 0;
}

.no-hover {
  &:hover {
    background-color: transparent;
    color: inherit;
  }
}

.terminal {
  .h1 {
    font-size: 36px;
    display: block;
    //color: #235c15;
  }
}

.button-break {
  margin-top: 30px;
}

.home-page__icons {
  margin-bottom: 30px;

  .svg-icon {
    height: 72px;
    width: 72px;
  }
}

.instructions-link {
  display: block;
  margin-top: 15px;
}