.hidden {
  display: none !important;
}

.error {
  color: #F44336;
  font-weight: bold;
}

input[type="text"].invalid {
  border-color: #F44336;
}

.svg-icon {
  height: 22px;
  width: 22px;
}

.page-width {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.btn-margin {
  margin-top: 15px;
}

.sign-up-message {
  margin-top: 30px;
}

.flash-messages {
  margin-top: 30px;
}