@import 'modules/utilities';
@import 'modules/header';
@import 'modules/game';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding: 30px;
  border-top: solid 2px green;

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .footer-icons--message {
    margin: 0 15px;
  }
}

