@import 'modules/variables';
@import 'modules/utilities';
@import 'modules/header';
@import 'modules/game';
@import 'modules/pages';
@import 'modules/user';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

