<footer>
<div class="page-footer">
  <div class="container">
    <div class="footer-icons">
      <%= svg 'bull' %>
      <span class="footer-icons--message">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
      <%= svg 'sacred-cow' %>
    </div>
    <div class="text-center">
      <span>&copy; Nick Carter <a href="https://github.com/nick-carter-shopify/bulls-and-cows">GitHub</a></span>
    </div>
  </div>
  </div>
</footer>