<footer class="page-footer green darken-2">
  <div class="container">

   <%= svg 'bull' %>
   <%= svg 'sacred-cow' %>

    This is the footer

    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</footer>